h1 {
    margin-bottom: 40px;
}

.checkout-thanks {
    margin-top: 40px;
}

#order-check {
    display: block;
    margin: 0 auto;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.order-table td:first-child {
    font-weight: bold;
}

.order-table td:last-child {
    text-align: right;
}

button {
    margin-top: 50px;
    margin-bottom: 70px;
}