.profile-links {
    display: flex;
    justify-content: center;
}

.profile-links a {
    color: #c64a8a;
    margin: 0 10px;
}

h1 {
    margin-top: 80px;
    margin-bottom: 50px;
}

.profile-intro {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 30px;
    margin-top: 35px;
    text-align: center;
}

.profile-intro h2, .profile-intro span {
    font-size: 25px;
}

h3 {
    border-bottom: 5px solid #c64a8a;
}

#form-intro {
    text-align: center;
}

.profile-form {
    margin-bottom: 60px;
}

.custom-select {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 20px;
}

.update-button, .delete-button {
    border-radius: 20px;
   	border: 1px solid #c64a8a;
   	background-color: #c64a8a;
   	color: #FFFFFF;
   	font-size: 12px;
   	font-weight: bold;
   	padding: 12px 45px;
   	letter-spacing: 1px;
   	text-transform: uppercase;
   	transition: transform 80ms ease-in;
   	cursor: pointer;
}