<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Happy Paws | Pet Profile</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <link rel="stylesheet" th:href="@{/css/pet-profile.css}">
    <link rel="icon" type="image/x-icon" href="/img/happy-paws.ico">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/"><img src="/img/logo.png" alt="Happy Paws Logo" width="170" height="120"></a></li>
            <li><a href="/dog"><img src="/img/dog.png" alt="Dog" width="40" height="40"> DOG</a></li>
            <li><a href="/cat"><img src="/img/cat.png" alt="Cat" width="40" height="40"> CAT</a></li>
            <li><a href="/small-animal"><img src="/img/rabbit.png" alt="Rabbit" width="40" height="40"> SMALL ANIMALS</a></li>
            <li class="search-bar">
                <form action="/search" method="get">
                    <input type="text" name="query" placeholder="Find the best for your furry friend..." style="text-indent: 20px;">
                    <button type="submit" class="search-icon">
                        <img src="/img/search.png" alt="Search Icon" width="20" height="20">
                    </button>
                </form>
            </li>
            <li><a href="/location"><img src="/img/location.png" alt="Location" width="40" height="40"></a></li>
            <li><a href="/wishlist"><img src="/img/wishlist.png" alt="Wishlist" width="40" height="40"></a></li>
            <li><a href="/user-page"><img src="/img/user.png" alt="User" width="40" height="40"></a></li>
            <li style="position: relative;">
                <a href="/shopping-bag" class="shopping-bag">
                    <img src="/img/shopping-bag.png" alt="Shopping Bag" width="40" height="40">
                    <span th:if="${cartItemCount > 0}" class="cart-item-count" th:text="${cartItemCount}"></span>
                </a>
            </li>
            <li><a href="/logout"><img src="/img/logout.png" alt="Logout" width="40" height="40"></a></li>
        </ul>
    </nav>
</header>

<h1>Update Pet Profile</h1>
<form th:action="@{'/update-pet-profile/' + ${petProfile.id}}" method="post" enctype="multipart/form-data">
    <label for="petImage">Pet Image:</label>
    <input type="file" id="petImage" name="petImage" accept="image/*"><br><br>

    <label for="petName">Pet Name:</label>
    <input type="text" id="petName" name="petName" th:value="${petProfile.petName}" required><br><br>

    <label for="petType">Pet Type:</label>
    <select id="petType" name="petType" required>
        <option value="Dog" th:selected="${petProfile.petType == 'Dog'}">Dog</option>
        <option value="Cat" th:selected="${petProfile.petType == 'Cat'}">Cat</option>
        <option value="Small Animal" th:selected="${petProfile.petType == 'Small Animal'}">Small Animal</option>
    </select><br><br>

    <label for="birthDate">Birth Date:</label>
    <input type="date" id="birthDate" name="birthDate" th:value="${#dates.format(petProfile.birthDate, 'yyyy-MM-dd')}" required><br><br>

    <input type="hidden" name="id" th:value="${petProfile.id}">

    <button type="submit" class="purple-button pet-profile-button">Update</button>
</form>


<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>Happy Paws</h4>
                <ul>
                    <li><img src="/img/paw.png" alt="Paw in a Heart" width="100" height="100"></li>
                    <li><a href="#">© 2024 Happy Paws. All rights reserved.</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Information</h4>
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/shipping">Shipping</a></li>
                    <li><a href="/payment-options">Payment Options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact</h4>
                <ul>
                    <li>
                        <img src="/img/mail.png" alt="mail" width="20" height="20">
                        <a href="mailto:info@happypaws.com">info@happypaws.com</a>
                    </li>
                    <li>
                        <img src="/img/telephone.png" alt="telephone" width="20" height="20">
                        <a href="#">+123 456 789</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4></h4>
                <ul>
                    <li><a href="#" id="back-to-top">Back to top</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>